*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    max-width: 750px;
    margin: auto;
}

#survey-form{
    background-color: rgb(4, 4, 58);
    color: #fff;
    padding: 1.25rem;
    width: 100%;
    font-size: 1.5rem;
    display: grid;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

label{
    display: block;
    margin: 0.5rem;
    font-weight: 400;
}

::placeholder{
    font-size: 20px;
}

select{
    font-size: 20px;
}

input, select{
    padding: 1rem;
    border-radius: 5px;
}

h1{
    padding: 2px;
    margin-top: 20px;
}

p {
    font-size: 24px;
    margin: 1.5rem;
    font-weight: 700;
}

.header h1, .header p{
    text-align: center;
}

.header p{
    padding: 5px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-style: italic;
}

#submit{
    display: block;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
}

#submit:hover{
    background-color: rgb(54, 54, 59);
    color: #fff;
}

fieldset{
    margin: 10px;
    padding: 5px;
    font-weight: 700;
    font-size: 24px;
}